body{
    font-family: sans-serif;
background-color: aquamarine;
}
.container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .imagen{
    position: relative;
    margin-right: -20px;
    display: inline-flex;
    flex-direction: column;
   
}
.container .imagen img{
    width: 150px;
    height: 150px;
    transition: transform 0.32s ease-in-out;
}

.container .imagen .nombre{
    position: absolute;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    top: -70px;
    padding: 10px 15px;
}
.container .imagen .nombre .text{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width:  150px;
    text-align: center;
    box-sizing: border-box;
}
.container .imagen:hover .nombre{
    display: inline-block;
    transform: translateY(-20px)
}
.container .imagen .nombre::before {
    content: "";
    position: absolute;
    width:  1px;
    height: 1px;
    left: 40%;
    bottom: -20px;  
    border-top: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.container .imagen:hover img{
transform: translateY(-20px);
}

